<header class="header">
  <div class="container header-box">
    <a class="header-logo-link" href="./index.html"
      ><svg class="header-logo-icon" width="84" height="36">
        <use href="/img/webp/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button type="button" class="header-button-menu" data-mobile-open>
      <svg class="header-menu-icon" width="24" height="24">
        <use href="/img/webp/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-navigation">
      <ul class="header-navigation-unlist">
        <li class="header-navigation-list">
          <a class="header-navigation-link" href="#welcome">About us</a>
        </li>
        <li class="header-navigation-list">
          <a class="header-navigation-link" href="#quality">Benefits</a>
        </li>
        <li class="header-navigation-list">
          <a class="header-navigation-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-navigation-list">
          <a class="header-navigation-link" href="#testimotinal">Testimonial</a>
        </li>
        <li class="header-navigation-list">
          <a class="header-navigation-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
