<section class="header container">
  <div class="header-box">
    <div class="logo-header-box">
      <a class="logo-header-link" href="#" noopener noreferer
        ><svg class="logo-header">
          <use href="../img/webp/icons.svg#icon-logo"></use></svg
      ></a>
    </div>
    <div class="navigation-header-box">
      <nav class="navigation-header">
        <ul class="header-navigation-unlist">
          <li>About us</li>
          <li>Benefits</li>
          <li>Gallery</li>
          <li>Testimonial</li>
          <li>Location</li>
        </ul>
      </nav>
    </div>
    <div class="header-navigation-mob">
      <button type="button" class="header-button-menu">
        <svg><use href="../img/webp/icons.svg#icon-menu"></use></svg>
      </button>
    </div>
  </div>
</section>
