<header class="header">
  <div class="container header-box">
    <a class="header-logo-link" href="#" rel="noreferer noopener"
      ><svg class="header-logo-icon" width="84" height="36">
        <use href="/img/webp/icons.svg#icon-logo"></use></svg
    ></a>
    <button type="button" class="header-button-menu" data-mobile-open>
      <svg class="header-menu-icon" width="24" height="24">
        <use href="/img/webp/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <nav class="header-navigation">
      <ul class="header-navigation-unlist">
        <li class="header-navigation-list">
          <a
            class="header-navigation-link"
            href="#welcome"
            rel="noreferer noopener"
            >About us</a
          >
        </li>
        <li class="header-navigation-list">
          <a
            class="header-navigation-link"
            href="#quality"
            rel="noreferer noopener"
            >Benefits</a
          >
        </li>
        <li class="header-navigation-list">
          <a
            class="header-navigation-link"
            href="#gallery"
            rel="noreferer noopener"
            >Gallery</a
          >
        </li>
        <li class="header-navigation-list">
          <a
            class="header-navigation-link"
            href="#testimotinal"
            rel="noreferer noopener"
            >Testimonial</a
          >
        </li>
        <li class="header-navigation-list">
          <a
            class="header-navigation-link"
            href="#location"
            rel="noreferer noopener"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
