<div class="mobile-menu-box" data-mobile>
  <div class="container mobile-logo-box">
    <a class="mobile-logo-link" href="#" rel="noreferer noopener"
      ><svg class="mobile-logo-menu" width="84" height="36">
        <use href="/img/webp/icons.svg#icon-logo"></use></svg
    ></a>

    <button type="button" class="mobile-button-close" data-mobile-close>
      <svg class="mobile-menu-close" width="24px" height="24">
        <use href="/img/webp/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-navigation-box">
    <nav class="navigation-menu">
      <ul class="menu-navigation-unlist">
        <li class="mobile-menu-list">
          <a
            href="#welcome"
            class="mobile-menu-link"
            data-mobile-close
            rel="noreferer noopener"
            >About us</a
          >
        </li>
        <li class="mobile-menu-list">
          <a href="#quality" class="mobile-menu-link" rel="noreferer noopener"
            >Benefits</a
          >
        </li>
        <li class="mobile-menu-list">
          <a href="#gallery" class="mobile-menu-link" rel="noreferer noopener"
            >Gallery</a
          >
        </li>
        <li class="mobile-menu-list">
          <a
            href="#testimotinal"
            class="mobile-menu-link"
            rel="noreferer noopener"
            >Testimonial</a
          >
        </li>
        <li class="mobile-menu-list">
          <a href="#location" class="mobile-menu-link" rel="noreferer noopener"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
