<div class="container mobile-menu-box" data-mobile>
  <div class="mobile-logo-box">
    <a class="mobile-logo-link" href="#" noopener noreferer
      ><svg class="mobile-logo-menu" width="84" height="36">
        <use href="/img/webp/icons.svg#icon-logo"></use></svg
    ></a>

    <button type="button" class="mobile-button-close" data-mobile-close>
      <svg class="mobile-menu-close" width="24px" height="24">
        <use href="/img/webp/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-navigation-box">
    <nav class="navigation-menu">
      <ul class="menu-navigation-unlist">
        <li class="mobile-menu-list">
          <a href="#" class="mobile-menu-link" data-mobile-close>About us</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#" class="mobile-menu-link">Benefits</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#" class="mobile-menu-link">Gallery</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#" class="mobile-menu-link">Testimonial</a>
        </li>
        <li class="mobile-menu-list">
          <a href="#" class="mobile-menu-link">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
