<div class="mobile-menu-box" data-mobile>
  <div class="container mobile-logo-box">
    <a class="mobile-logo-link" href="./index.html"
      ><svg class="mobile-icon-logo" width="84" height="36">
        <use href="/img/webp/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <button type="button" class="mobile-button-close" data-mobile-close>
      <svg class="mobile-icon-close" width="24px" height="24">
        <use href="/img/webp/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-nav-menu">
    <ul class="mobile-nav-unlist">
      <li>
        <a href="#welcome" class="mobile-nav-link">About us</a>
      </li>
      <li>
        <a href="#quality" class="mobile-nav-link">Benefits</a>
      </li>
      <li>
        <a href="#gallery" class="mobile-nav-link">Gallery</a>
      </li>
      <li>
        <a href="#testimotinal" class="mobile-nav-link">Testimonial</a>
      </li>
      <li>
        <a href="#location" class="mobile-nav-link">Location</a>
      </li>
    </ul>
  </nav>
</div>
