<section class="quality">
  <p class="text-quality">Quality</p>
  <h2 class="title-coffee">Why CoffeeJoy Stands Out from the Rest</h2>
  <p class="text-at">
    At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee,
    crafted with care by our skilled baristas. Our flexible subscription plans
    ensure that your coffee experience is tailored to your needs.
  </p>

  <ul class="nav-list">
    <li class="list-item">
      <img src="" alt="" />
      <h3 class="title-text">Fresh-Roasted Coffee for Every Taste</h3>
      <p class="text">Savor the rich flavors of our expertly sourced beans.</p>
    </li>
    <li class="list-item">
      <img src="" alt="" />
      <h3 class="title-text">Expert Baristas Crafting Your Perfect Brew</h3>
      <p class="text">
        Our baristas are passionate about coffee and skilled in their craft.
      </p>
    </li>
    <li class="list-item">
      <img src="" alt="" />
      <h3 class="title-text">Cozy Atmosphere</h3>
      <p class="text">
        We don’t just serve coffee — we create a warm and welcoming space where
        every cup feels like home.
      </p>
    </li>
  </ul>
</section>
