<section id="quality" class="section">
  <div class="container">
    <p class="quality-text">Quality</p>
    <h2 class="quality-title-coffee">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text-at">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/webp/quality/quality1-desk.webp    1x,
              ../img/webp/quality/quality1@2x-desk.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/quality/quality1-tab.webp    1x,
              /img/webp/quality/quality1@2x-tab.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/webp/quality/quality1-mob.webp    1x,
              /img/webp/quality/quality1@2x-mob.webp 2x
            "
          />
          <img
            class="quality-img"
            src="../img/webp/quality/quality1-desk.webp"
            alt="img"
            width="421"
            height="240"
          />
        </picture>
        <h3 class="quality-title-text">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="quality-text-p">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/webp/quality/quality2-desk.webp    1x,
              /img/webp/quality/quality2@2x-desk.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/quality/quality2-tab.webp    1x,
              /img/webp/quality/quality2@2x-tab.webp 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/webp/quality/quality2-mob.webp    1x,
              /img/webp/quality/quality2@2x-mob.webp 2x
            "
          />

          <img
            class="quality-img"
            src="../img/webp/quality/quality2-desk.webp"
            alt="img"
            width="421"
            height="240"
          />
        </picture>
        <h3 class="quality-title-text">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="quality-text-p">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-list-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/webp/quality/quality3-desk.webp    1x,
              /img/webp/quality/quality3@2x-desk.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/webp/quality/quality3-tab.webp    1x,
              /img/webp/quality/quality3@2x-tab.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/webp/quality/quality3-mob.webp    1x,
              /img/webp/quality/quality3@2x-mob.webp 2x
            "
          />
          <img
            class="quality-img"
            src="../img/webp/quality/quality3-desk.webp"
            alt="img"
            width="704"
            height="519"
          />
        </picture>
        <h3 class="quality-title-text">Cozy Atmosphere</h3>
        <p class="quality-text-p">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
