<section class="subscribe" id="aboutus">
  <div class="container subscribe-container">
    <div class="subscribe-box">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-subtitle">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="subscribe-form">
        <div class="subscribe-field-box">
          <div class="subscribe-box-error">
            <div class="input-svg-box">
              <input 
              class="subscribe-input" 
              type="email" 
              name="user-email" 
              id="subscribe-email"
              placeholder="Your Email Here" required
               />
            </div>
          </div>

          <button class="subscribe-btn" type="submit">
            Subscribe
        <svg class="icon-chevrons-rigth" width="24" height="24">
            <use href=""></use>
        </svg>
        </button>
        <label 
        class="subscribe-label visually-hidden" 
        for="subscribe-email">
    </label>
        </div>
        <p class="subscribe-text">By clicking Get Started, you agree to our Terms and Conditions.</p>
      </form>
    </div>
    <picture>
      <source media="(min-width: 1440px)" srcset="" />
      <source media="(min-width: 768px)" srcset="" />
      <source media="(max-width: 767px)" srcset="" />
      <img
      class="subscribe-img"
        src=""
        alt="people in the office at the computer"
        width="640"
        height="400"
        loading="lazy"
      />
    </picture>
  </div>
</section>
