<section class="section welcome">
  <div class="position-container">
    <p class="welcome-tag">Welcome</p>
    <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
  </div>
  <div class="position-container">
    <p class="welcome-text">
      At CoffeeJoy, we believe that every cup tells a story. Our mission is to
      bring you the finest coffee experiences, crafted with care and dedication.
      We are committed to sourcing high-quality beans and roasting them to
      perfection, ensuring each sip is a delight.
    </p>

    <a class="btn-location" href="#location">
      Find location
      <svg class="location-icon" width="24" height="24" aria-hidden="true">
        <use href="./img/webp/icons.svg#icon-map-pin"></use>
      </svg>
    </a>
  </div>

  <img
    class="welcome-foto"
    srcset="1x, 2x"
    src=""
    width="1312"
    height="738"
    alt="Barista preparing coffee"
  />
</section>
