.experience-title {
  font-family: 'Aboreto';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0 auto 24px;
}

.experience-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 32px;
}

@media only screen and (min-width: 1440px) {
  .experience-title {
    font-size: 48px;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .experience-list {
    flex-direction: row;
    gap: 32px;
  }
  .experience-item {
    width: calc((100% - 32px) / 2);
  }
  @media only screen and (max-width: 1439px) {
    .experience-item:last-child {
      width: 704px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .experience-list {
    flex-direction: column;
    height: 948px;
  }
  .experience-item {
    width: calc((100% - 64px) / 3);
  }
}
