/* .header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
} */
.header-button-menu{
  border: none;
  color: inherit; 
  background-color: transparent;
  cursor: pointer;
}
  .header-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  height: auto;
}
.header-logo-icon{
  margin-top: 4px;
  width: 84px;
  height: 36px;
}
.header-navigation-box{
  display: none;
}
.header-button-menu{

  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.header-menu-icon{
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .header-navigation{
    margin-left: 100px;
  }
  .header-navigation-box{
  display: flex;
  
}
.header-button-menu{
  display: none;
}
.header-navigation-unlist{
  display: flex;
  gap:32px;

}
.header-navigation-link{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #0b0803;
}
.header-navigation-list:focus{
  opacity: 0.7;
}
.header-box {
    padding: 18px 32px;
}
.header-navigation-list:hover{
opacity: 0.5;}
}
.@media screen and (min-width:1158px) {}