/* .header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
} */
.header{
      background-color: #e0cbb4;
    position: fixed;
    width: 100%;
}
.header-button-menu{
      padding: 0;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 48px;
    height: 48px;
}
  .header-box{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.header-logo-link{
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    position: relative;
}
.header-logo-icon{
  fill: #0b0803;
}
.header-navigation{
  display: none;
}
.header-menu-icon{
  fill: #0b0803;
}
@media only screen and (min-width: 768px) {

  .header-navigation{
  display: flex;
  
}
.header-button-menu{
  display: none;
}
.header-navigation-unlist{
          display: flex
;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 32px;
        width: 456px;
        height: 24px;

}
.header-navigation-link{
  display: block;
  padding: 24px 0;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #0b0803;
position: relative;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation-list:focus{
  opacity: 0.7;
}

.header-navigation-list:hover{
opacity: 0.5;}
}
.header-navigation-link:hover::after,
.header-logo-link:hover::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #6F4E37;
}
@media screen and (min-width:1158px) {

}