.header {
  background-color: #e0cbb4;
  width: 100%;
}

.header-button-menu {
  padding: 0;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 48px;
  height: 48px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-icon {
  fill: #0b0803;
}

.header-navigation {
  display: none;
}

.header-menu-icon {
  fill: #0b0803;
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
  }

  .header-button-menu {
    display: none;
  }

  .header-navigation-unlist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    width: 456px;
    height: 24px;
  }

  .header-navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    position: relative;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation-link:focus {
    opacity: 0.7;
  }

  .header-navigation-link:hover {
    opacity: 0.5;
  }

  .header-navigation-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #6f4e37;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation-link:hover::after {
    opacity: 0.5;
  }

  .header-navigation-link:focus::after {
    opacity: 0.7;
  }

  .header-box {
    padding: 0 64px;
  }
}
