.hero{
    max-height: 644px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/webp/hero/hero-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-container-box{
    padding: 108px 0;
    margin: 0 auto;
    max-width: 375px;

}
.Hero-button-link{
    color: #fff;
    
}
@media (min-resolution: 192dpi) {
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/webp/hero/hero@2x-mob-min.jpg);
    }
}

.hero-container {
    padding: 0 32px;
}

.hero-title {
    font-family: 'Aboreto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 24px;
    width: 100%;
}
.hero-text {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    max-width: 100%;
    margin-bottom: 32px;
    width: 100%;
}

.hero-btn {
    display: block;
    cursor: pointer;
    font-family: inherit;
    background-color: #6f4e37;
    color: #fff;
    border-radius: 100px;
    padding-block: 10px;
    padding-inline: 24px;
    max-width: 135px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
    /* background-color: rgba(11, 8, 3, 0.1); */
    opacity: 50%;
    color: #fff;
}
.hero-btn:focus{
    box-shadow: none;
    opacity: 1;
}
@media screen and (min-width: 768px){
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/webp/hero/hero-tab-min.jpg);
    }
    .hero-container-box{
    padding: 311px 0;
    margin: 0 auto;
    max-width: 768px;
    }
    .hero{
        max-height: 900px;
    @media (min-resolution: 192dpi){
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/webp/hero/hero@2x-tab-min.jpg);
        }
    }

    .hero-container {
    margin: 0;
    }

    .hero-title {
    width: 560px;
    font-size: 40px;
    }
    .hero-text {
    width: 560px;
    }

    .hero-text-box {
    padding: 0;
    }
}
@media screen and (min-width: 1440px){
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/webp/hero/hero-desk-min.jpg);
    }

    .hero-container-box{
    padding: 259px 0;
    margin: 0 auto;
    max-width: 1440px;
    }

@media (min-resolution: 192dpi) {
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/webp/hero/hero@2x-desk-min.jpg);
        }
    }

    .hero-container {
    padding: 0 64px;
    }

    .hero-title {
    font-size: 56px;
    }
}
