.hero{
    padding: 108px 0;
    max-width: 375px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/webp/hero/hero-mob-min.jpg);
 background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
@media (min-resolution: 192dpi){
    .hero{
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
 url(/img/webp/hero/hero@2x-mob-min.jpg);
    }
}

.hero-tittle{
font-family: "Aboreto", sans-serif;
    margin-bottom: 24px;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #fff;

}
.hero-text{
    margin-bottom: 32px;
font-size: 18px;
line-height: 1.5;
color: #fff;
max-width: 100%;
}
.hero-btn {
    border-radius: 100px;
padding-block: 10px;
padding-inline: 24px;
min-width: 135px;
height: 44px;
box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: rgba(11, 8, 3, 0.1);
color: #0b0803;
}


@media screen and (min-width: 768px) {
    .hero {
     padding: 312px 0;
     max-width: 768px;
    text-align: left;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url(/img/webp/hero/hero-tab-min.jpg);
    }
    @media (min-resolution: 192dpi){
        .hero{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/img/webp/hero/hero@2x-tab-min.jpg);
        }
    }
   
  
}
@media screen and (min-width:1158px) {
    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
         url(/img/webp/hero/hero-desk-min.jpg);
 padding-top: 259px;
 padding-bottom: 259px;
      max-width: 1440px;
    }
    .hero-container{
        margin-left: 64px;
        padding-left: 0;
    }
    @media (min-resolution: 192dpi){
        .hero{
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/img/webp/hero/hero@2x-desk-min.jpg);
        }
    }
    .hero-tittle{
        font-size: 56px;
    }
}