.location-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.location-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.location-title {
    font-family: 'Aboreto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.location-second-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.location-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.location-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.location-contacts-icon {
    fill: currentColor;
}

.location-contacts-item-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.location-contacts-text {
    font-family: 'Aboreto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.location-contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: inherit;
}

.location-contacts-second-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.location-link-get-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0B0803;
}

.location-contacts-link-get {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
}

.location-map {
    border-radius: 40px;
    width: 100%;
    height: 307px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .location-contacts-list {
        flex-direction: row;
    }

    .location-contacts-item {
        width: calc((100% - 80px) / 3);
    }

    .location-map {
        border-radius: 40px;
        width: 704px;
        height: 377px;
        margin: 0 auto;
        }
}

@media only screen and (min-width: 1440px) {
    .location-container {
        flex-direction: row;
        gap: 24px;
    }

    .location-wrap {
        width: 419px;
    }

    .location-title {
        font-size: 48px;
    }

    .location-contacts-list {
        flex-direction: column;
    }

    .location-contacts-item {
        width: 100%;
    }

    .location-contacts-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .location-contacts-link:hover,
    .location-contacts-link:focus {
        color: #4c2e1c;
    }

    .location-link-get-wrap {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .location-link-get-wrap:hover,
    .location-link-get-wrap:focus-within {
    color: #4c2e1c;
    }

    .location-map {
    width: 869px;
    height: 697px;
    }
}