.mobile-menu-box{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #E0CBB4;
    width: 100vw;
    height:100%;
    padding-top:72px ;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu-box.is-open{
        opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-button-close{
    position: absolute;
    top:12px;
    right: 16px;
        width: 48px;
    height: 48px;
    padding: 0;
    border: none;
  color: inherit; 
  background-color: transparent;
  cursor: pointer;
}
.menu-close-icon{
    width: 24px;
    height: 24px;
}
.mobile-logo-menu{
    width: 84px;
    height: 36px;
}
.mobile-logo-box{
    position: absolute;
    top: 18px;
    left: 16px;
}
.menu-navigation-unlist{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.mobile-menu-link{
    color: #0B0803;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus-visible {
    color: #4c2e1c;
}