.mobile-menu-box{
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #E0CBB4;
    width: 100vw;
    height:100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu-box.is-open{
        opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-button-close{
    padding: 0;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 48px;
    height: 48px;
}
.mobile-menu-close{
    fill: #0b0803;
}
.mobile-logo-menu{
    fill: #0b0803;
}
.mobile-logo-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-logo-link{
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}
.menu-navigation-unlist{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}
.mobile-menu-link{
    color: #0B0803;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus-visible {
    color: #4c2e1c;
}