.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 631px;
  border-radius: 40px;
  background-color: #e0cbb4;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 64px 16px 64px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scaleX(0.5);
}

.modal-btn-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-btn-cross:hover,
.modal-btn-cross:focus {
  background-color: #6f4e37;
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-btn-cross:hover .modal-icon,
.modal-btn-cross:focus .modal-icon {
  fill: #e0cbb4;
}

.modal-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

.modal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
  width: 100%;
}

.modal-btn-close {
  display: block;
  min-width: 100%;
  border-radius: 100px;
  padding: 10px 24px;
  margin: 24px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover {
  background-color: rgba(11, 8, 3, 0.1);
  color: #0b0803;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    min-height: 771px;
    padding: 64px 30px;
  }

  .modal-title {
    font-size: 36px;
  }

  .modal-text {
    margin-bottom: 48px;
  }

  .modal-btn-close {
    min-width: 340px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 866px;
    min-height: 801px;
    padding: 64px;
  }

  .modal-title {
    font-size: 48px;
  }

  .modal-btn-close {
    min-width: 274px;
  }

  .modal-img {
    margin: 0 auto;
  }
}
