
@media screen and (min-width:320px) {
.quality{
    padding: 64px 16px;
    text-align: center;
}

.quality-container{
    max-width: 100%;
    margin: 0 auto;
}
.text-quality{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.title-coffee{
   margin: 0 auto;
   margin-bottom: 24px;
   align-items: center;
   font-family: "Aboreto",
   sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: -0.01em;
   width: 288px;
   text-transform: uppercase;
}
.list{
    display: flex;
    flex-direction: column;
  
}
.text-at{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 32px;
    
}



.list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quality-img{
   
    height: auto;
    border-radius: 32px;

}

.title-text {
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    
}
.text{
    margin-top:8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 24px;
}
}
@media only screen and (min-width:375px) {
 
 .text-at{
    margin: 0 auto ;
 }

 .list-item{
    margin: 0 auto;
    
 }
}


@media only screen and (min-width:768px) {

.title-coffee{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 24px;
    width: 452px;
}
.text-at{
    max-width: 704px;
}

.list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.list-item{
    width: calc(50% - 12px);
}
.quality-img{
    max-width: 100%;
    width: 340px;
}

} 
@media screen and (min-width: 1440px){
.quality{
    padding: 64px;
}

.title-coffee{
    width: 768px;
    font-size: 48px;
}
.list{
    justify-content: space-between;
    gap: 24px;
}
.list-item{
    width: calc((100% - 48px)/3);
}

.quality-img{
    width: 421px;
}
} 

    

    
