


.text-quality{
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
}
.title-coffee{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 768px;
   font-family: "Aboreto",
   sans-serif;
   font-weight: 400;
   font-size: 48px;
   line-height: 1.2;
   letter-spacing: -0.01em;
   text-align: center;
   color: #0b0803;
}

.text-at{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
}



.title-text{
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
}

.text{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
}