@media screen and (min-width:320px) {
.section-quality{
    padding: 64px 0;
}

.text-quality{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.title-coffee{
   margin: 0 auto 24px;
   text-align: center;
   font-family: "Aboreto",
   sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: -0.01em;
   width: 100%;
   text-transform: uppercase;
}
.text-at{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 32px;
    
}
.quality-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.quality-img{
    border-radius: 32px;
    width: 100%;
    height: auto;
}

.title-text {
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.text{
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
}

@media only screen and (min-width:768px) {

.title-coffee{
    width: 452px;
}
.text-at{
    width: 704px;
    margin: 0 auto 32px;

}

.quality-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.list-item{
    width: calc(50% - 12px);
}
.list-item:nth-child(3){
    width: 100%;
}
.list-item:nth-child(3) .quality-img{
    width: 100%;
    object-fit: cover;
}
.quality-img{
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.title-text:nth-child(3){
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 704px;
}

.text:nth-child(3){
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
}
} 

@media screen and (min-width: 1440px){

.title-coffee{
    width: 768px;
    font-size: 48px;
}
.text-at{
    margin: 0 auto 32px;
    width: 768px;
}

.quality-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;   
}
.list-item{
    width: calc((100% - 48px) / 3);
}
.list-item:nth-child(3){
    width: calc((100% - 48px) / 3);
}

.quality-img{
    object-fit: cover;
   
}
} 

    

    
