@media screen and (min-width:320px) {
.quality-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.quality-title-coffee{
   margin: 0 auto 24px;
   text-align: center;
   font-family: "Aboreto",
   sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: -0.01em;
   width: 100%;
   text-transform: uppercase;
}
.quality-text-at{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 32px;
}
.quality-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quality-list-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.quality-img{
    border-radius: 32px;

}

.quality-title-text{
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    max-width: 284px;

}
.quality-text-p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
}

@media only screen and (min-width:768px) {

.quality-title-coffee{
    width: 452px;
}
.quality-text-at{
    width: 704px;
    text-align: center;

}

.quality-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.quality-list-item{
    width: calc(50% - 12px);
}

.quality-list-item:nth-child(1) .quality-text-p{
    max-width: 294px;
}

.quality-list-item:nth-child(3){
    width: 100%;
}


.quality-text-p:nth-child(3){
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
}
} 

@media screen and (min-width: 1440px){

.quality-title-coffee{
    width: 768px;
    font-size: 48px;
}
.quality-text-at{
    width: 768px;
}

.quality-list{
    display: flex;
    flex-wrap: nowrap;  
}
.quality-list-item{
    width: calc((100% - 48px) / 3);
}
.quality-list-item:nth-child(3) {
    width: calc((100% - 48px) / 3);
}
.quality-list-item .quality-title-text{
    max-width: 440px;
}

.quality-list-item:nth-child(1) .quality-text-p {
    max-width: 421px;
}

.quality-img{
    object-fit: cover;
}
} 

    

    
