.subscribe {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 80px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: #e0cbb4;

max-width: 100%;
}

.subscribe-box {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
height: 426px; 
margin: 64px 16px 32px;
}

.subscribe-title {
    font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 36px;

/* line-height: 43px; */ 
line-height: 1.2;
letter-spacing: -0.01em;
color: #0b0803;
padding-bottom: 24px;
max-width: 100%;
}

.subscribe-subtitle {
    font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 18px;

/* line-height: 27px; */ 
line-height: 1.5;
color: #0b0803;
padding-bottom: 32px;
}

.subscribe-input {
   display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
 border: 1px solid rgba(11, 8, 3, 0.15);
border-radius: 12px;
padding: 8px 12px;
max-width: 100%;
height: 40px;
background: rgba(255, 255, 255, 0);
margin-bottom: 24px;
}

.subscribe-btn {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 12px;
border-radius: 100px;
padding: 10px 24px;
width: 288px;
height: 44px;
box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
background: #6f4e37;
margin-bottom: 16px;
}

.subscribe-text {
    font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 12px;

/* line-height: 18px; */ 
line-height: 1.5;
color: #0b0803;
padding-bottom: 32px;
}




@media screen and (min-width: 768px) {
    .subscribe-title {
max-width: 100%;
    }
      .subscribe-subtitle {
    max-width: 100%;
  }

  .subscribe-field-box {
    display: flex;
    column-gap: 24px;
  }

  .subscribe-input {
    width: 340px;
  }

  .subscribe-btn {
    max-width: 158px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
   
}
