.subscribe-container {
        gap: 32px;
    }

.subscribe-title {
    font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 36px;
margin-bottom: 24px;
width: 100%;

/* line-height: 43px; */ 
line-height: 1.2;
letter-spacing: -0.01em;
}

.subscribe-subtitle {

font-weight: 400;
font-size: 18px;

/* line-height: 27px; */ 
line-height: 1.5;
margin-bottom: 32px;
}

.subscribe-input {
    border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  max-width: 375px;
  height: 40px;
  padding: 8px 12px;
  background-color: transparent;
  outline: transparent;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
    border-color: rgba(11, 8, 3, 0.4);
}

.subscribe-input:focus::placeholder {
    color: transparent;
}

.subscribe-error {
  display: none;
  font-size: 12px;
  color: #E53935;
}

.subscribe-input:invalid:not(:placeholder-shown) {
    border-color: #E53935;
    color: #E53935;
}

.subscribe-input:invalid:not(:placeholder-shown) + .subscribe-error {
    display: block;
}


.subscribe-btn {
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 12px;
font-weight: 500;
font-size: 16px;
color: var(--color-white);
border-radius: 100px;
padding: 10px 24px;
width: 100%;
border: transparent;
height: 44px;
box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
color: #fff;
background: #6f4e37;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-chevrons-rigth {
      fill: #fff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    opacity: 0.5;
}

.subscribe-btn:active {
    background-color: var(--color-coffy-dark);
}

.subscribe-text {
font-size: 12px;
line-height: 1.5;
}

.subscribe-img {
    overflow: hidden;
    border-radius: 40px;
}

.subscribe-field-box {
margin-bottom: 16px;
flex-direction: column;
gap: 16px;
display: flex;
}

.subscribe-form {
    margin-bottom: 32px;
}


@media screen and (min-width: 768px) {
    .subscribe-title {
   width: 704px;
    }
      .subscribe-subtitle {
    width: 704px;
  }

  .subscribe-field-box {
   flex-direction: row;
  }

  .subscribe-input {
    width: 340px;
  }

  .subscribe-btn {
    width: 158px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
    .subscribe-box {
        margin: auto 0;
    }

    .subscribe-title {
        max-width: 616px;
    }

    .subscribe-subtitle {
        width: 640px;
    }

    .subscribe-container {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .subscribe-btn {
        width: 158px;
    }
}
