.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  margin: 0 auto;
}

.welcome-tag {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.welcome-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  width: 100%;
}
.welcome-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
  width: 100%;
}
.link-location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  border-radius: 100px;
  justify-content: center;
  height: 44px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-location:hover,
.link-location:focus {
  background-color: rgba(11, 8, 3, 0.1);
  color: #0b0803;
}

.location-icon {
  display: inline-block;
  fill: currentColor;
}
.welcome-foto {
  border-radius: 40px;
  margin: 0 auto;
}
.welcome-position-container {
  flex-basis: calc((100% - 32px) / 2);
  margin-bottom: 32px;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .welcome-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }

  .link-location {
    width: 181px;
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  .welcome-title {
    font-size: 48px;
  }
}
