/* Styles for Mobile devices */
.welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
}

.welcome-tag {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}
.welcome-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  max-width: 288px;
  margin-bottom: 32px;
}
.welcome-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
  max-width: 288px;
  margin-bottom: 32px;
}
.btn-location {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 24px;
  border-radius: 100px;
  justify-content: center;
  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  min-width: 288px;
  margin: 0 auto 32px;
  box-sizing: border-box;
}

.location-icon {
  display: inline-block;
  fill: currentColor;
}
.welcome-foto {
  border-radius: 40px;
  max-width: 288px;
  max-height: 162px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .welcome {
    align-items: baseline;
    gap: 72px 24px;
    justify-content: flex-start;
    padding: 0 108px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1312px) {
  .container {
    max-width: 1312px;
  }
}
